* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #e7ebf0;
}

hr {
  margin: 0;
}
